* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;

  /* Pattern from https://www.heropatterns.com/ */
  font-size: 16px;
}

a {
  color: #ffffff, #000;
  text-decoration: none;
}

.light{
 color: #333;   
}

.dark{
  color:#f2f2f2c9;
}


/* Buttons */

/* SHOWCASE */

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./img/IMG-20220217-WA0033.jpg") no-repeat center center/cover;
  width: 100%;
  height: 550px;
}
.showcaseContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: bold;
  color: rgba(206, 26, 26, 0.932);
  text-align: center;
  width: 100%;
  background: rgba(34, 34, 34, 0.822);
  height: 140px;
}

/* .showcase h2,
.showcase p {
  margin-bottom: 10px;
} */

/* .showcase .btn {
  margin-top: 20px;
} */

/* News Cards */
.news-cards {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px auto;
}

.news-cards img {
  width: 100%;
  height: 180px;
}

.news-cards h3 {
  font-size: 20px;
  margin: 10px 0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
}

.btn:hover {
  opacity: 0.9;
}

/* NUEVO */
.contentHome {
  width: 90%;
  height: 100%;
  float: right;
}

/* News Cards */
.news-cards {

  display: flex;
  justify-content: space-evenly;
  align-items:flex-start;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
}

.news-cards div{
  width:23.5%;
}

.news-cards img {
  width: 100%;
}

.news-cards h3 {
  font-size: 20px;
  margin: 10px 0;
}

.contentHome a {
  display: flex;
  border: none;
  border-radius: 5px;
  justify-content:center;
  align-items: center;
  background:#695cfe;
  color: rgb(226, 225, 225);
  padding: 10px;
  font-weight: 600;
  width:50%;
  transition:background ease 200ms;
}

.contentHome a:hover{
  background:#584cd6;
  transition: 200ms;
}

/* CARDS BANNER ONE */
.cards-banner-one {
  width: 100%;
  height: 350px;
  background: url("./img/image-four.jpg");
  margin-bottom: 40px;
}



.cards-banner-one .content {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #fff;
}

.cards-banner-one p,
.cards-banner-two p {
  margin: 10px 0 20px 0;
}

/* CARDS BANNER TWO*/
.cards-banner-two {
  margin-bottom: 1.5em;
  width: 100%;
  height: 350px;
  background: url("./img/image-five.jpg") no-repeat center center/cover;
}

.cards-banner-two .content {
  width: 50%;
  padding: 100px 0 0 30px;
}

/* Follow */
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3rem;
}

/* Links */
.footer-links {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links li {
  line-height: 2.8;
}

.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

/* Movil */
@media (max-width: 1050px) {

  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-main ul.nav-menu li {
    padding: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }
  .nav-main ul.nav-menu li:last-child {
    border-bottom: 0;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }

  .nav-main ul.nav-menu-right {
    margin-right: 50px;
  }

  .news-cards div{
    width:47%;
    margin-bottom: 1em;
  }

  .news-cards img{
    height:200px;
  }

  .cards-banner-one .content,
  .cards-banner-two .content {
    width: 80%;
  }

  .footer-links .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 765px) {

  .contentHome{
    width: 85%;
  }

  .news-cards div{
    width:100%;
    margin-bottom: 1em;
  }

  .news-cards img{
    height:400px;
  }

  .cards-banner-one .content,
  .cards-banner-two .content {
    width: 100%;
    padding: 60px 20px;
  }
  .footer-links .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-links .footer-container ul {
    text-align: center;
  }
}

@media (max-width: 710px){
  .contentHome{
    width: 80%;
  }
}
